.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dropdownContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-self: center;

	min-width: 230px;
	width: 300px;

	z-index: 1;
}
/* .dropdownContent a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
} */
#myInput {
	height: 40px;
	box-shadow: 0 0 6px -4px #1c1c28;
	color: #333;
	background: #fff;
	border-radius: 5px;
	border: 0px solid transparent;
}

.dropdownContainer {
	display: flex;
	flex-direction: row;
	width: 500px;
	justify-content: center;
}
.filtros {
	height: 40px;
	border: none;
	border-radius: 5px;
	background: #fff;
	font-weight: 300;
	width: 120px;
	cursor: pointer;
	border: 0px solid transparent;
	border-radius: 4px;
	box-shadow: 0 0 6px -4px #1c1c28;
	color: #333;
	font-size: 16px;
}
select option {
	margin: 40px;
	background: #fff;
	color: rgb(28, 28, 28);
	border: 0px solid transparent;
	box-shadow: 0 0 6px -4px #1c1c28;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.optionsFilters:hover {
	background: #fff;
	box-shadow: 0 0 6px -4px #1c1c28;
	border: 0px solid transparent;
	color: #333;
	font-size: 16px;
	cursor: pointer;
}
.listaResults {
	font-size: 16px;
	font-weight: 300;
}
.backgroundForm {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(100, 6, 6, 0.726);
	display: flex;
	align-items: center;
	justify-content: center;
}
.formContainer {
	height: 350px;
	width: 400px;
	border-radius: 10px;
	z-index: 1;
	background-color: rgb(232, 232, 232);
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-self: center;
	padding: 40px;
	transition: ease 0.5s;
}
.inputForm {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	margin-bottom: 1rem;
	border-radius: 5px;
	width: 380px;
}
.divFormButtons {
	display: flex;
	flex-direction: row;
	gap: 15px;
	justify-content: center;
}
.buttonCerrar {
	background-color: #fff;
	color: #e53535;
	border: solid 1px #e53535;
	border-radius: 12px;
	font-size: 14px;
	padding: 0.8em 1.6em;
	font-weight: 300;
	width: 180px;
	cursor: pointer;
}
.botonAñadir {
	background-color: #e53535;
	color: #fff;
	border-radius: 12px;
	font-size: 14px;
	padding: 0.8em 1.6em;
	font-weight: 300;
	width: 180px;
	cursor: pointer;
}
.resultsContenedor {
	margin-top: 50px;
	width: 50vw;

	display: grid;

	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.buttonAdd {
	background: #e53535;
	border: none;
	text-align: end;
	cursor: pointer;
	color: rgb(227, 227, 232);
	text-align: center;
	height: 300px;
	font-size: 60px;
	max-width: 200px;
	padding: 5px;
	box-shadow: 0 0 6px -4px #1c1c28;
}
.resultsInfo {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	box-shadow: 0 0 6px -4px #1c1c28;
	border-radius: 5px;
	max-width: 200px;
	height: 300px;
	padding: 5px;
}
.searchButton {
	background-color: #e53535;
	color: #fff;
	border-radius: 12px;
	font-size: 14px;
	height: 40px;
	font-weight: 300;
	width: 100px;
	cursor: pointer;
}
